<!doctype html>

<html>
{% extends 'base.html' %}

{% block head %}
<head>
    <title>Expense Tracker</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>
{% endblock %}

<body>
    {% block body %}

    <div class="expense_header">
        <h1>Expense Tracker</h1>
        <a href="{{url_for('logout')}}">Logout</a>
        <p></p>
        <a href="{{ url_for('index', user_id=user_id) }}">Expense Tracker Home</a>
    </div>

    <form class="item-form" action="{{ url_for('index', user_id=user_id) }}" method="POST" enctype="multipart/form-data">
        <label for="img">Select image with your receipt:</label>
        <input type="file" name="img" id="img" accept="image/*">
        <input type="submit" value="Add Receipt">
    </form>
    <p></p>
    <p></p>
    <div class="content">

        {% if receipts|length < 1 %}

        <h4>There are no receipts. Add one below to see the table.</h4>

        {% else %}
        <table>
            <tr>
                <th>Store</th>
                <th>Purchase Date</th>
                <th>Total</th>
                <th>Actions</th>
            </tr>
            {% for receipt in receipts %}
            <tr>
                <td>
                    <a href="/items/{{user_id}}/{{receipt.id}}">{{ receipt.content }}</a>
                </td>
                <td>{{ receipt.date_created.date() }}</td>
                <td>{{ receipt.total }}</td>
                <td>
                    <a href="{{ url_for('delete', user_id=user_id, receipt_id=receipt.id) }}">Delete</a>
                    <br>
                    <a href="{{ url_for('update', user_id=user_id, receipt_id=receipt.id) }}">Update</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td></td>
                <td>{{ receipt_totals }}</td>
                <td></td>
            </tr>
        </table>
        {% endif %}

    </div>

    <div class="expense_header">
        <h1>{{expenses_by_store_header}}</h1>
    </div>

    <div id="plotly-div"></div>

    {{ expenses_by_store | safe }}

    <div class="expense_header">
        <h1>{{expenses_by_category_header}}</h1>
    </div>

    <div id="plotly-div"></div>

    {{ expenses_by_category | safe }}

    {% endblock %}

</body>    
</html>