{% extends 'base.html' %}

{% block head %}
<title>Expense Tracker</title>
{% endblock %}

<html>

    {% block body %}

    <div class="expense_header">
        <h1>Expense Tracker Itemized Receipt</h1>
        <a href="{{ url_for('index', user_id=user_id) }}">Expense Tracker Home</a>
    </div>

    <div>
        <form class="item-form" action="{{ url_for('add_item', user_id=user_id, receipt_id=receipt_id) }}" method="POST">
            <input type="text" name="content" id="content">
            <input type="submit" value="Add Item Name">
            <p></p>
            <p></p>
            <input type="text" name="total" id="total">
            <input type="submit" value="Add Item Total">
            <p></p>
            <p></p>
            <input type="text" name="category" id="category">
            <input type="submit" value="Add Item Category">
        </form>
    </div>

    <div class="content">

        <table>
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
            {% for item in receipt.receipt_items %}
            <tr>
                <td>{{ item.item }}</td>
                <td>{{ item.total }}</td>
                <td>{{ item.category }}</td>
                <td>
                    <a href="{{ url_for('delete_item', user_id=user_id, item_id=item.id, receipt_id=item.receipt_id) }}">Delete</a>
                    <br>
                    <a href="{{ url_for('update_item', user_id=user_id, item_id=item.id, receipt_id=receipt_id) }}">Update</a>
                </td>
            </tr>
            {% endfor %}
            <tr>
                <td>Total</td>
                <td>{{ receipt_total }}</td>
                <td>Total</td>
                <td></td>
            </tr>
        </table>

    </div>

    <div class="expense_header">
        <h1>{{header}}</h1>
    </div>

    <div id="plotly-div"></div>

    {{ plot_html | safe }}

    {% endblock %}
</html>